@import "../../global.scss";

.topbar {
  width: 100%;
  height: 70px;
  background-color: #fff;
  color: $mainColor;
  position: fixed;
  z-index: 2;

  .wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;

      .logo {
        font-size: 40px;
        font-weight: bold;
        margin-right: 30px;
      }

      .nav-btn {
        margin: 0 7px;
        padding: 6px 10px;
        transition: 0.45s;
        border-radius: 5px;
        font-size: 20px;

        &:hover {
          background-color: $mainColor;
          color: #fff;
        }
      }
    }
    .right {
      display: flex;
      align-items: center;


      .nav-link {
        margin: 0 10px;

        & * {
          font-size: 30px;
        }
      }
    }
  }
}
