@import "./../../global.scss";
.portfolio {
  background: $mainLightColor;
  text-align: center;
  padding: 15px 40px;
  color: $mainGrey;

  .portfolio-heading {
    font-size: 58px;
    padding: 20px 0;
    margin-bottom: 40px;
    color: #fff;
  }

  .container {
    color: $mainLightColor;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .card {
      padding: 25px 23px;
      border-radius: 5%;
      height: 360px;
      width: 280px;
      border: 1px solid #000;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: 1s all ease-out;

      .card-title {
        font-size: 23px;
        margin-bottom: 10px;
      }

      .description {
        margin-bottom: 20px;
      }

      .tech-text {
        margin-bottom: 20px;
        font-weight: bold;
      }

      .links {
        .link-btn {
          background-color: $mainLightColor;
          border-radius: 5%;
          color: $mainGrey;
          padding: 10px 15px;
          margin: 5px;
          display: block;
          transition: 0.5s all ease;

          &:hover {
            background-color: lighten($mainLightColor, 60%);
            color: #000;
          }
        }
        .link-btn-code {
          background-color: #000;
          &:hover {
            background-color: $darkGrey;
            color: #000;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 769px) {
  .portfolio {
    height: auto !important;
    .container {
      flex-direction: column;
      .card {
        margin: 1rem 0;
      }
    }
  }
}
