@import "../../global.scss";

.intro {
  // background: url("./../../images/white-walls.jpg");
  // background: linear-gradient(135deg, #fff, #f8f8f8, #eee, $mainColor);
  background: $mainLightColor;
  position: relative;
  // background-color: $mainColor;
  position: relative;

  &::before {
    content: "";
    background: url("./../../images/white-walls.jpg") no-repeat center
      center/cover;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    opacity: 0.3;
  }

  .header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-43%, -50%);
    font-size: 60px;
    background: none;
    color: $mainGrey;
  }

  .down-arrow {
    font-size: 47px;
    position: absolute;
    bottom: 17px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $mainGrey;

    animation: arrowBlink 2s infinite;
  }

  @keyframes arrowBlink {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }
}
@media screen and (max-width: 678px) {
  .intro {
    .header {
      transform: translate(-50%, -50%);
    }
    .down-arrow {
      left: 45%;
    }
  }
}
